{% extends 'base.html.twig' %}

{% block title %}PROJET CINELAND!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>PROJET CINELAND! ✅</h1><br>
    <h1>BD INITIALISEE! ✅</h1><br>
    PAR:
    <ul>
        <li>KAFANGA AKIM Victoire</li>
        <li>DIALLO Abdourahim</li>
    </ul>
</div>
{% endblock %}
